HW/PCB_BOT/__Previews/*
HW/PCB_BOT/History/*
HW/PCB_BOT/Logs/*

HW/PCB_TOP/__Previews/*
HW/PCB_TOP/History/*
HW/PCB_TOP/Logs/*

*.OutputStatus
HW/CAD/Default Configuration/Outputs/Status Report.Txt
.DS_Store
SW/SW - Kopie/*
SW/LCD_Timer_Clock/Debug/*
SW/LCD_Timer_Clock/Drivers/*
SW/LCD_Timer_Clock/Core/Startup/*
Doxygen/*
SW/Doxygen/*
SW/Audio/Knocks/Knocks.band/*
